

.container {

    max-width: 1140px;
    margin: 0 auto;
    padding-left: 0.9rem;
    padding-right: 0.9rem;


}

.grid{

    display: grid;

}

.home_container{

    grid-template-columns: 4fr 8fr;

    column-gap: 1.875rem;

}

.home_imagem{

    width: 90%;
    height: 380px;
    border-radius: 1rem;
    transform: translateY(3.125rem);
    box-shadow: 0 0 27px rgb(96, 96, 96 / 34%);

}


.home_nome, .home_trabalho, .lista_informacoes {

    color: white;

}

.home_dados 

{

padding-top: 3%;

}

.home_nome{


    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:  35px;
    font-weight: bold;
    margin: 0.9em 0 0.23em;
    animation: blink 1s steps(1, 2) infinite;
    
}

.home_trabalho{

    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    margin-bottom: 2.5em;

}


.lista_informacoes dt {

    float: left;
    font-weight: bold;
    opacity: 0.4;
    font-family: monospace;
    font-size: 15px;
    
}

.lista_informacoes dd{

    padding-left: 6.25em;
    font-family: monospace;
    font-size: 15px;
}

.lista_informacoes dd:not(:last-child){

    margin-bottom: 0.94em;
}

 .home_sociais{ 

    color: white;
    margin: 1.5rem 0 2.2rem;
    opacity: 0.4;
    line-height: 1.36rem;
}

.home_sociais:hover 

{
    cursor: pointer;
}







.header{

    position: absolute;
    top: 0;

    width: 99.18%;
    z-index: 100;
}

.nav{

    background-color: rgb(54, 54, 54);
    height: max-content;
    display: flex;
}

.nav_lista{

    color: rgb(136, 134, 134);
    font-family: monospace;
    font-size: 13px;
    font-weight: bold;
    
    list-style-type: none;
    
}

.nav_lista:hover 
{

    color: rgb(255, 255, 255);
    transform: scale(1.05);
    cursor: pointer;


}

.nav_listas ul, li 

{

    display: inline-block;
    padding-right: 30px;
    
    

}





.resumo {

   align-items: center;
   justify-content: center;
   padding: 40px 4%;
   margin-top: 10rem;
   margin-left: 10rem;
   z-index: 100;
   width: 100%;
}

.resumo_titulo{

    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 1.0em;

}

.resumo_conteudo{

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    margin-bottom: 5rem;

}














.services{

    text-align: left;
    margin-top: 8rem;
    margin-left: 10rem;
    z-index: 100;
    width: 100%;
    padding: 40px 4%;
}

.services_titulo{

    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 1.5em;

}

.services_texto{

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    margin-bottom: 8rem;
   

}

.services_texto2 
{

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    margin-bottom: 5rem;

    
    


}




.services .services_box i
{

    font-size: 30px;
    padding-left: 70px;

}

.services .services_box h3 

{
    margin: 20px 0;
    font-size: 16px;

}

.services_box 

{
        
     display: inline-block;
        
     border: 2px solid rgb(255, 255, 255);

     border-radius: 15px;

      box-shadow: 0 0 8px black;
        
        
        

}















.vida{

   
    text-align: left;
    margin-left: 10rem;
    margin-top: 7rem;
    
    z-index: 100;
    width: 100%;
    padding: 40px 4%;

}

.vida_titulo{

    font-family: 'Courier New', Courier, monospace;
    font-size: 23px;
    font-weight: bolder;
    margin-bottom: 3.0em;
   

}

.vida_conteudo{

    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 17px;
    color: rgb(8, 8, 8);
    opacity: 0.4;
    margin-bottom: 2rem;


}

.campo {

    
    margin-top: 10px;
    padding-right: 170px;
    margin-bottom: 5rem;
    
}

.campo .texto_vida

{

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}



.habilidades
{

    text-align: left;
    margin-left: 10rem;
    margin-top: 5rem;
    margin-bottom: 20rem;
    z-index: 100;
    width: 100%;
    padding: 40px 4%;

}


.habilidades h1 
{

    font-family: 'Courier New', Courier, monospace;
    font-size: 23px;
    font-weight: bolder;
    margin-bottom: 3.0em;

}





.front .titulo
{

    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 17px;
    color: rgb(8, 8, 8);
    opacity: 0.4;
    margin-bottom: 2rem;
    
    


}

.habilidades_lista

{

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}


.back_titulo
{

    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 17px;
    color: rgb(8, 8, 8);
    opacity: 0.4;
    margin-bottom: 2rem;

}





.footer_tudo 

{

   padding-left: 42%;

}



.footer h2

{
    padding-left: 42%;

    color: white;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}

.footer label

{
    
    color: white;
    font-family: monospace;


}


.mensagem .email 

{

    padding-left: 36%;


}